@*
ARCHIVO DEPRECADO - Reemplazado por Pages/Index.razor
Este archivo ya NO tiene ruta activa
*@

<PageTitle>Deprecated - See Index.razor</PageTitle>

<p>Este archivo ha sido reemplazado. Ver Pages/Index.razor</p>